.navigation__container {
  border-bottom: 0.5px solid var(--border-container);
}

.navigation {
  width: 100%;
  border-left: 0.5px solid var(--border-container);
  border-right: 0.5px solid var(--border-container);
}

.navigation__row {
  padding: 24px 20px;
}

.logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.logo:hover {
  color: var(--accent);
}
