.hero__container {
  border-bottom: 0.5px solid var(--border-container);
}

.hero {
  position: relative;
  width: 100%;
  border-left: 0.5px solid var(--border-container);
  border-right: 0.5px solid var(--border-container);
}

.hero__row {
  position: relative;
  padding: 56px 20px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  z-index: 1;
}

.bg_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.left {
  position: relative;
  flex: 1;
  max-width: 660px;
}

.blubor {
  display: inline-block;
  width: fit-content;
  padding: 12px 18px;
  color: var(--accent);
  border: 1px solid var(--border-accent);
  border-radius: 100px;
  background: var(--light-accent);
  font-size: 14px;
}

.title {
  margin-top: 24px;
}

.description {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--foreground);
  white-space: pre-line;
}

.clicker {
  position: absolute;
  top: 200px;
  left: 180px;
}

.adventures {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.adventure {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  background: var(--input-background);
  border: 1px solid var(--border-accent);
  border-radius: 8px;
}

.adventure__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.adventure__text h3 {
  font-weight: 500;
  font-size: 18px;
}

.adventure__text span {
  font-size: 14px;
  font-weight: 300;
  color: var(--foreground);
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
