.hero {
  padding: 40px;
  background: linear-gradient(180deg, rgba(33, 89, 255, 1) 15%, rgba(152, 177, 255, 1) 95%);
  color: var(--white);
  border-radius: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.left {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.blubor {
  max-width: fit-content;
  padding: 12px 18px;
  border: 1px solid rgba(246, 246, 246, 0.15);
  background: var(--light-bg-white);
  border-radius: 24px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 40px;
}

.description {
  max-width: 400px;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  color: var(--light-white);
}

.left_advantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.advantages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 22px 24px;
  background: var(--light-bg-white);
  border: 1px solid rgba(246, 246, 246, 0.15);
  border-radius: 24px;
}

.advantages_title {
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}

.advantages_text {
  font-weight: 300;
  line-height: 120%;
}

.right {
  width: 100%;
}
