:root {
  --background: #f3f3f3;
  --dark: #232321;
  --white: #fff;

  --accent: #1a95ff;
  --light-accent: #dae9fe;
  --border-accent: #8ec8fa;

  --border-container: #c4c4c4;

  --foreground: #5a5a5a;
  --border: #d3d3d3;
  --placeholder: #757575;
  --input-background: #fbfdff;
  --focus-select: #f0f5ff;
  --error: #f64f6b;
  --warning: #f59e0b;
}

html {
  height: 100%;
}

html,
body {
  background: var(--background);
  color: var(--dark);
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.accent {
  color: var(--accent);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 52px;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: -3%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3%;
}
